   
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Montserrat:wght@400;500&display=swap');
nav{
  background-color: yellow;
  padding:0.5rem;
}

#txt-input{
    margin:2rem auto;
    border:solid;
    display: block;
    width:600px;
    height:300px
}

#btn-translate{
    text-align: center;
    background-color:yellow;
    padding: 1em 3em;
}

h1{
    font-size:xx-large;
}
#output-div{
    margin:2rem auto ;
    border:solid;
    width:600px;
    height:300px;
    background-color:white;
}



body{
    margin:0px;
    text-align: center;
     background-size: auto;
    
    font-family: 'Montserrat', sans-serif;
}
body footer{
  background-color: yellow;
 padding:0.5rem;
 
}
